.main {
  width: 100%;
  min-height: 100vh;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
}

.container {
  display: flex;
  height: calc(100vh - 65px);
}
