/* src/components/AppLayout.module.css */

.wrapper {
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: white;
  color: #1f2937; /* text-gray-800 */
}

.dark {
  background-color: #111827; /* bg-gray-900 */
  color: white;
}

.innerContainer {
  display: flex;
  height: calc(100vh - 64px); /* 64px = h-16 */
}
