.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.lightTheme {
  background-color: #ffffff;
  color: #1f2937;
}

.darkTheme {
  background-color: #111827;
  color: #f3f4f6;
}

.sidebarContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editorContainer {
  width: 100%;
  height: 90%;
  flex: 1;
}
